body{
    font-family:  'lato' , 'inria serif';
    color: black;
    height: 100%;
    max-width: 1920%;
    display: block;
    margin: 0;
    background-color: white;   
}
.container{
    max-width: 1220px;
    height: 130px;
    margin: 0;
    display: block;
    background: white;
}
a, li{
    text-decoration: none;
    list-style-type: none;
}
.clearfix{
    overflow: auto;
}
/* Header Section*/
header, header .container{
    height: 130px;
}
header .header_container .header_logo{
    position: absolute;
    left: 0;
    top: 57%;
    transform: translateY(-50%);
}
header .header_container{
    position: relative;
    height: 130px;
    overflow: hidden;
}
nav{
    float: right;
    height: 100%;
    line-height: 100px;
    padding-top: 20px;

}
nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    vertical-align: middle;

}

nav ul li a{
    font-size: 24px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    
}

nal ul li a:hover{
    color: aquamarine;
    text-decoration: underline;
}

/*Hero Section*/

.hero_expanded{
    background: url("IMAGES/HERO.jpg") no-repeat top /cover;
    position: absolute;
    height: 758px;
    width: 100%;
    top: 130px;
}

.hero_expanded:before{
    content: "";
    width: 100%;
    height: 849px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
        

}

#hero{
    position: relative;
    background: transparent;
    height: 894px
}
 

/* blank module */
.blank_module .container{
    background-color: #406A73;
    width: 2027px;
    height: 574.47px;
}
.blank_module {
    padding: 130px 0;
    min-height: 500px;
    margin-top: 753px;
    padding-left: 130px;
    padding-right: 130px;
    
}

.blank_module .left_container{
	width: 45%;
	float: left;
}

.blank_module .left_container h2{
	font-size: 45px;
	font-weight: 700;
}

.blank_module .left_container p{
	font-size: 18px;
	line-height: 30px;
    text-align: center;
}

.blank_module img{
	float: right;
	width: 50%;
}


/*middle*/
.images_container img{
    width: 99%;
    background-color: #3D6261;
}
.images_container{
    background-color: #3D6261;
}